.container {
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(
      to right top,
      #eecc91 10% /*top-left color*/,
      #2a2a2a 90% /*bottom-right color*/
    ),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))
      /*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.TopOverlay {
  position: absolute;
  width: 120vh;
  height: 120vh;
  border-radius: 120vh;
  opacity: 0.9;
  left: -5%;
  top: -45%;
  background-color: #242424;
  transition: 0.4s ease;
}
.BootomOverlay {
  position: absolute;
  width: 120vh;
  height: 120vh;
  border-radius: 120vh;
  opacity: 0.5;
  left: 50%;
  top: 20%;
  background-color: #eecc91;
  transition: 0.4s ease;
}
.iconBar {
  position: absolute;
  background-color: #242424;
  padding: 10px 10px 10px 10px;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
