.container {
  min-height: 100vh;
  padding: 0 16%;
  align-items: center;
}
.rows {
  padding-top: 12%;
}
.QuestionRolyn {
  color: #c9cfd4;
  font-size: 30px;
  font-weight: 500;
  line-height: 200%;
}
.QuestionMobile {
  color: #c9cfd4;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
}
.paragraph {
  color: #c9cfd4;
  font-size: 16px;
  line-height: 180%;
}
.bordered {
  margin-top: 2% !important;
  background-color: #3396e8;
  border-radius: 100px;
  border-color: transparent !important;
  color: black;
  font-weight: 500;
  height: 30px !important;
  width: 10rem;
  box-shadow: 5px 10px 60px #5d7c94;
}
.textarea {
  min-height: 220px !important;
  display: block !important;
}
/* smallphone */
@media only screen and (max-width: 280px) {
  .QuestionRolyn {
    color: #c9cfd4;
    font-size: 18px;
    font-weight: 500;
    line-height: 200%;
    text-align: center !important;
  }
  .QuestionMobile {
    color: #c9cfd4;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-align: center !important;
  }
  .paragraph {
    color: #c9cfd4;
    font-size: 16px;
    line-height: 180%;
    text-align: center !important;
  }
  .bordered {
    margin: 0 auto !important;
    display: block !important;
    text-align: center !important;
    background-color: #3396e8;
    border-radius: 100px;
    border-color: transparent !important;
    color: black;
    font-weight: 500;
    height: 30px !important;
    width: 10rem;
    box-shadow: 5px 10px 60px #5d7c94;
  }
  .textarea {
    min-height: 170px !important;
    display: block !important;
  }
}
/* Phone */
@media only screen and (max-width: 483px) {
  .QuestionRolyn {
    color: #c9cfd4;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-align: center !important;
  }
  .QuestionMobile {
    color: #c9cfd4;
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
    text-align: center !important;
  }
  .paragraph {
    color: #c9cfd4;
    font-size: 12px;
    line-height: 100%;
    text-align: center !important;
  }
  .bordered {
    margin: 0 auto !important;
    display: block !important;
    text-align: center !important;
    background-color: #3396e8;
    border-radius: 100px;
    border-color: transparent !important;
    color: black;
    font-weight: 500;
    height: 30px !important;
    width: 10rem;
    box-shadow: 5px 10px 60px #5d7c94;
  }
  .textarea {
    min-height: 170px !important;
    display: block !important;
  }
}
/* Tablet */
@media only screen and (max-width: 768px) {
}
/* Small screens eg: laptop*/
@media only screen and (max-width: 1024px) {
}
